<div id="forum">
  <h1>Foros</h1>

  <table class="forum">
    <thead>
    <tr>
      <td>Foro</td>
      <td>Temas</td>
      <td>Mensajes</td>
      <td>Último Mensaje</td>
    </tr>
    </thead>
    <tbody>
    <% for forum in @forums -%>
    <tr>
      <td>
        <span class="title">
          <%= link_to h(forum.title), forum %>
        </span>
        <span class="description">
          <%= h forum.description %>
        </span>
      </td>
      <td><%= forum.topics.count %></td>
      <td><%= forum.posts_count %></td>
      <td>
        <%= last_post_info forum %>
      </td>
    </tr>
    <% end -%>
    </tbody>
  </table>
</div>