<div class="post">
  <div class="date">
    <%= post.created_at.strftime("%d-%m-%Y %H:%M") %>

    <ul>
      <% if forum_session.can_edit_post? post -%>
      <li><%= link_to "Editar", edit_forum_topic_post_path(@forum, @topic, post) %></li>
      <% end -%>
      <% moderator_actions_for @forum do -%>
      <li>
      <%= link_to "Eliminar", forum_topic_post_path(@forum, @topic, post), :confirm => "Seguro?", :method => :delete %>
      </li>
      <% end %>
    </ul>
  </div>

  <div class="user">
    <%= image_tag(avatar_url_for post.user, :size => "100") %>
    <span class="name"><%= link_to h(post.user.name), post.user %></span>
  </div>

  <div class="body">
    <%= textilize h(post.body) %>
  </div>

  <div class="clear"></div>
</div>