<div class="post">
  <div class="date">
    <%= post.created_at.strftime("%d-%m-%Y %H:%M") %>
  </div>

  <div class="user">
    <%= image_tag(avatar_url_for post.user, :size => "50") %>
    <span class="name"><%= link_to h(post.user.name), post.user %></span>
  </div>

  <div class="body">
    <%= textilize h(post.body) %>
  </div>

  <% if forum_session.can_edit_post? post %>
    <p><%= link_to "Editar", edit_forum_topic_post_path(@forum, @topic, post) %></p>
  <% end %>
  <div class="clear"></div>
</div>